.page-content
  .container
    .page-title
      %h1 #{@user.first_name}'s Journals

      = link_to new_user_journal_path(@user), class: "btn btn-primary btn-lg mal" do
        New Journal
        .fa.fa-plus

    - if @journals.present?
      #journal-graph{:style => "width: 100%; height: 400px; background-color: #FFFFFF;"}

      %table#journal-table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th
              Title
            %th
              Preview
            %th
              Date Written
            %th
              Word Count
            %th
              Download
        %tbody
          - @journals.each do |journal|
            %tr[journal]
              %td
                = journal.title
              %td
                = journal.preview
              %td
                = journal.date_written
              %td
                = journal.word_count
              %td
                = link_to "Download", download_path(id: journal.id)


:javascript
  $("#journal-table").dataTable({
    "dom": '<"top"i><"dt-filter"f>t<"bottom"><"dt-select"l><"dt-pagination"p>'
  });

  var journalGraph = new MorningRoutine.Views.Modules.DateSeriesDay('#journal-graph', #{@user.daily_journal_graph_data.to_json});
